.homepage-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

}


.homepage-img-wrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;     
}


.welcome{
    color:  #E0B27E;
    
}

.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    height: 360px;
    width: 360px;
   
}